br
.row
  .col-md-6
    h3 style="margin-top: 0px;" Slack Daemon Bot
  .col-md-2
    - if logged_in?
      a href="/suggest" Suggest an insult
  .col-md-2
    - if logged_in?
      a href="/suggestions" My suggestions
  .col-md-2
    .pull-right
      - if logged_in?
        div= current_user.full_name
      - else
        script async='true' src="https://telegram.org/js/telegram-widget.js?2" data-telegram-login="SlackDaemonBot" data-size="medium" data-auth-url="https://bot.unbe.ru/login" data-request-access="write"
