p Hi there!
p
  | This is the official web site of the &nbsp;
  a href="https://storebot.me/bot/slackdaemonbot" Slack Daemon Bot.
p What can it do?
p
  | It can help you to resolve the dispute in your Telegram chat. Just add it to the chat and type the '/dice' command &nbsp;
  | with your opponent. And you will see, who was right.
p
  | I also listen all messages in the chat and automatically switches keyboard layout of message &nbsp;
  | it's wrong (currently eng->ru and ru->eng work).
p
  | Moreover bot knows all about the members of the chat. And sometimes (rarely) it will write all the truth about random selected &nbsp;
  | member. Do you afraid that all dark corners of your friends's souls will open? If not — just add Slack Daemon to your chat!

p Also you can suggest more true here. Login with telegram, and enjoy
