doctype html
html
  head
    link rel='stylesheet' href='assets/application.css'
    script src="assets/application.js"
    title Slack Daemon Bot
  body
    .container
      == partial 'header'
      == yield
