br
.row
  .col-md-12
    - if logged_in?
      form.form-horizontal action="/suggest" accept-charset="UTF-8" method="post"
        == csrf_tag
        .form-group
          label for="insult_text" class="col-md-2 control-label" Insult text
          .col-md-8
            input type="text" class="form-control" id="insult_text" placeholder="Type your insult here" name="insult[text]"
        .form-group
          label for="insult_category" class="col-md-2 control-label" Select category
          .col-md-8
            select class="form-control" id="insult_category" name="insult[category]"
              - Chat::CATEGORIES.each do |category|
                option selected=('selected' if category == 'General') #{category}

        .form-group
          label for="insult_lang" class="col-md-2 control-label" Select lang
          .col-md-8
            select class="form-control" id="insult_lang" name="insult[locale]"
              option value="ru" selected="selected" Русский
              option value="en" English
        input type="submit" name="commit" value="Suggest" class="btn btn-default btn-primary"
    - else
      | You are not logged in and can not suggest the insults.