- if insults.blank?
  | You suggest nothing yet.
- else
  table.table.table-bordered.table-striped
    thead
      th Creation date
      th Text
      th Category
      th Locale
      th Approve status
      - if current_user.admin
        th Aprrove
    tbody
      - insults.each do |insult|
        tr
          td= insult.created_at.strftime('%e.%m.%Y %H:%M')
          td= insult.text
          td= insult.category
          td= insult.locale
          td= insult.approved
          - if current_user.admin && !insult.approved
            td
              a href="/approve/#{insult.id}" class="btn btn-xs btn-success" Approve
